* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}

/* Encabezado */

header {
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto en el encabezado */
  display: flex;
  justify-content: space-between; /* Coloca los elementos en los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px; /* Espaciado interno del encabezado */
}

/* Estilos para el logotipo */
.logo img {
  width: 150px; /* Ancho del logotipo */
  height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para el menú de navegación */
nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none; /* Quita las viñetas de la lista */
  padding: 0; /* Quita el espaciado interno de la lista */
}

nav ul li {
  display: inline; /* Muestra los elementos de la lista en línea */
  margin-right: 20px; /* Espaciado entre elementos del menú */
}

nav ul li a {
  border-radius:5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease; /* Agregado efecto de transición */
  padding: 10px 20px; /* Agregado padding para hacer que el área de interacción sea más grande */
}

/* Cambiar color de enlace al pasar el cursor */
nav ul li a:hover {
  color: #8B00B4;
  background-color: #444;
}

/* Estilos log-in y sing-up */

.container{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.form {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  
  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .form--input:focus {
    border: 1px solid #639;
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #639;
  }
  
  .form--submit {
    width: 50%;
    padding: 0.625em;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
  }
  
  .form--submit:hover {
    color: #639;
    background-color: white;
    border: 1px dashed #639;
    cursor: pointer;
    transition: 0.5s;
  }

  a{
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius:5px;
    padding: 5px;
  }
  a:hover{
    color: #8B00B4;
    background-color: #444;
  }

/* Pie de Pagina */

.footer-box{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    
}

.footer-features{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.footer-feature {
  text-align: center;
  flex: 1;
  margin: 0 10px;
}
.footer-feature h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #666;
}

.footer-feature p {
  font-size: 16px;
  color: #666;
}